* {
    box-sizing: border-box;
  }

  body {
    min-width: fit-content;
    min-height: fit-content;
    font-family: Arial;
    margin: 0;
    background: white;
  }
  /*styling for header "weather dashboard"*/
  header {
    background-color: blue;
    background-image: linear-gradient(to right, rgb(120, 120, 237), rgb(22, 22, 246));
    color: white;
    padding: 15px;
    text-align: center;
    max-height: 200px;
    width: 100%;
  }
  /*styling for h1 font size and text color*/
  h1 {
    color: white;
    font-size: 3rem;
  }
  /*styling for header above input form*/
  h2 {
    margin: 10px 10px;
    color: black;
    font-size: 2.5rem;
  }
  /*styling for headers used in dynamically created weather content*/
  h3{
    display: flex;
    justify-content: center;
    margin: 10px 10px;
    color: black;
    font-size: 2rem;
  }

  /*overwrites bootstrap to create card uniformity*/
  .row{
    display: flex;
    justify-content: space-around;
  }
  /*flex to setup layout*/
  #content-box{
    display:flex;
  }
  /*sets the children of content box to share the space*/
  .content-child{
    flex: 1;
  }
  /*styling for history/search container sets it to be less of the container than weather content*/
  #history-container {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    height: 100%;
    width: 30%;
    margin-right: 20px;
  }
  /*styling for the weather container*/
  #weather-container {
    display: flex;
    flex: 55%;
    height: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin-top: 20px;
  }
  /*styling to keep history in a column*/
  .pastSearches{
    display:flex;
    flex-direction: column;
    
  }
  /*styling for the input form*/
  #searchForm {
    width: 97%;
    font-size: 1.5rem;
    color: rgba(151, 151, 151, 0.743);
    margin: 5px;
    padding: 15px 15px;
    line-height: 16px;
    box-shadow:  7px 5px 7px 0 black;
  }
  /*styling for all buttons*/
  button {
    background: gray;
    border-radius: 10px;
    margin: 5px;
    padding: 20px 50px;
    color: black;
    cursor: pointer;
    font-size: 2rem;
    line-height: 16px;
    text-align: center;
    box-shadow:  7px 5px 7px 0 black;

  }
  /*styling for specifcally the search button (gradient matches header)*/
  #searchBtn {
    background-color: blue;
    background-image: linear-gradient(to right, rgb(120, 120, 237), rgb(22, 22, 246));
    border-radius: 10px;
    padding: 20px 50px;
    margin-bottom: 30px;
    color: white;
    cursor: pointer;
    font-size: 2rem;
    line-height: 16px;
    text-align: center;
    box-shadow:  7px 5px 7px 0 black;
  }